RewriteEngine on
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://loadingstudios.archive.tornadocore.es/$1 [R,L]
RewriteCond $1 !^(index\.php|images|css|img|js|fonts|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
